@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
  url("../fonts/BebasNeueRegular.woff") format("woff");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.header {
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596F5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  text-align: center;
}

.navbar__item {
  margin-left: 40px;
  margin-right: 40px;
}

.navbar__link {
  text-decoration: none;
  color: #fff;
}

.navbar__contacts {
  text-align: right;
}

.navbar__text {
  display: block;
  color: #fff;
  margin-bottom: 4px;
  font-size: 14px;
}

.navbar__phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}

.main {
  display: flex;
  padding-top: 54px;
}

.main__home path {
  opacity: 0;
}

.main__home path:hover,
.main__home path.selected {
  opacity: 1;
  cursor: pointer;
}

.main__info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main__counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__counter-down {
  transform: rotateX(180deg);
}

.counter-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.main__info-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 37px;
  font-weight: normal;
  line-height: 37px;
  color: #635854;
  margin: 0;
}

.main__counter-text {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  font-size: 124px;
  color: #635854;
  margin-top: 20px;
}

.btn {
  padding: 16px 36px;
  background: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.btn-primary {
  background-color: #3596F5;
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity .2s;
}

.modal.open {
  opacity: 1;
  transform: scale(1);
}

.modal__flats path {
  opacity: 0;
  cursor: pointer;
}

.modal__flats path:hover,
.modal__flats path.selected {
  opacity: 1;
}

.modal__dialog {
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  position: relative;
  opacity: 0;
  transform: translateY(-10%);
  transition: transform .2s, opacity .2s;
  transition-delay: .2s;
}

.modal.open .modal__dialog {
  opacity: 1;
  transform: translateY(0);
}

.modal__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  line-height: 29px;
}

.modal__image {
  background-color: #EBEBEB;
  width: 60%;
  text-align: center;
  padding: 50px;
}

.modal__info {
  width: 40%;
  padding: 50px 46px;
}

.modal__flat-list {
  padding: 0;
  margin-top: 55px;
  list-style: none;
}

.modal__flat-item {
  margin-top: 10px;
}

.modal__flat-link {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  text-decoration: none;
}

.modal__flat-link:hover,
.modal__flat-link.selected {
  color: #3596F5;
  text-decoration: underline;
}

.modal__alert {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  margin-top: 56px;
}

.modal__close-btn {
  position: absolute;
  top: 38px;
  right: 27px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
